.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--cl-white);
  border-radius: 6px;
  box-shadow: var(--shadow-card);
  transition: var(--trns-ease);
  max-width: 200px;
  height: 300px;
}

.card:hover {
  box-shadow: var(--shadow-elevate-card);
  transform: translateY(-5px) scale(1.01);
}

.poster {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-weight: 500;
  color: var(--cl-white);
  opacity: 0;
  transition: var(--trns-ease);
}

.card:hover .title {
  opacity: 1;
}
