.nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--cl-blue);
  box-shadow: var(--shadow-header);
  color: var(--cl-white);
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .nav {
    padding: 20px 45px;
    gap: 30px;
    font-size: 16px;
  }
}

.link {
  position: relative;
  text-decoration: none;
  transition: var(--trns-ease);
}

.link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 4px;
  background-color: var(--cl-accent);
  transition: var(--trns-ease);
}

.link:hover {
  color: var(--cl-accent);
}

.link.active {
  color: var(--cl-accent);
}

.link.active::after {
  width: 100%;
}
