:root {
  /* Colors */
  --cl-background: #f5f5f5;
  --cl-blue: #385b7e;
  --cl-gray: #2c2c2c;
  --cl-light-gray: #7b7b7b;
  --cl-accent: #54e5d9;
  --cl-accent-darken: #3baea4;

  --cl-white: #ffffff;
  --cl-black: #000000;

  /* Shadows */
  --shadow-layout:
    -8px 0 15px -3px rgba(0, 0, 0, 0.1), 8px 0 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-header: 0px -2px 13px 3px rgba(66, 104, 142, 0.8);
  --shadow-card: 0 2px 8px rgba(0, 0, 0, 0.4);
  --shadow-elevate-card:
    0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 2px 6px rgba(0, 0, 0, 0.2);

  /* Transitions */
  --trns-ease: all 0.3s ease;
}
