.imageWrapper {
  width: 100%;
  max-width: 350px;
  min-height: 100px;
  aspect-ratio: 7 / 4;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 768px) {
  .imageWrapper {
    min-height: 200px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ccc;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s;
}

.imageWrapper:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.author,
.likes {
  font-size: 18px;
  margin: 4px 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 10px;
  border-radius: 8px;
}

.likes {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
