.searchForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.searchInput {
  width: 100%;
  padding: 8px 50px 8px 10px;
  border: 1px solid var(--cl-gray);
  border-radius: 6px;
  font-size: 14px;
  transition: var(--trns-ease);
}

@media screen and (min-width: 768px) {
  .searchInput {
    padding: 8px 60px 8px 20px;
    font-size: 16px;
  }
}

.searchInput::placeholder {
  color: var(--cl-light-gray);
}

.searchInput:focus {
  border-color: var(--cl-accent-darken);
}

.searchBtn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px 0 10px;
  color: var(--cl-gray);
  cursor: pointer;
  transition: var(--trns-ease);
}

@media screen and (min-width: 768px) {
  .searchBtn {
    padding: 0 20px;
  }
}

.searchBtn:hover {
  color: var(--cl-accent-darken);
}
