.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  background-color: var(--color-header);
  box-shadow: var(--shadow-header);
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 32px;
  }
}

.searchForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.searchInput {
  width: 100%;
  padding: 8px 50px 8px 10px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-default);
}

@media screen and (min-width: 768px) {
  .searchInput {
    padding: 8px 60px 8px 20px;
    font-size: 16px;
  }
}

.searchInput::placeholder {
  color: var(--color-white);
  opacity: 0.7;
}

.searchInput:focus {
  border-color: var(--color-accent);
  background-color: rgba(255, 255, 255, 0.2);
}

.searchBtn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px 0 10px;
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition-default);
}

@media screen and (min-width: 768px) {
  .searchBtn {
    padding: 0 20px;
  }
}

.searchBtn:hover {
  color: var(--color-accent);
}
